<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <form class="form-page" id="formPage">
            <div class="left-section">
                <div class="input-container" id="1"></div>
                <div class="input-container" id="2"></div>
                <div class="input-container" id="3"></div>
            </div>
            <div class="right-section">
                <div class="input-container" id="4"></div>
                <div class="input-container" id="5"></div>
                <div class="input-container" id="6"></div>
                <div class="buttons">
                    <button type="button" class="btn" id="submitButton">Submit</button>
                    <button type="button" class="btn" id="cancelButton">Cancel</button>
                </div>
            </div>
            
        </form>
    </div>
</body>
</html>