<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>System Application</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-container">
        <div class="contents">
            <h2 class="login-header">Login</h2>
            <form class="login-form" id="loginForm">
                <div class="input-fields">
                    <label for="username">username</label>
                    <input class="username"type="text" id="username" name="username" required>
                    <label for="password">password</label>
                    <input class="password" type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
<script src="script.js"></script>
</html>