body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}
.container{
    display: flex;
}
.logo-container{
    width: 250px;
    height: 300px;
    outline:solid 1px;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 250px;
    height: 300px;
    outline:solid 1px;
    border-radius: 0px 12px 12px 0px;
}
.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
    padding: 10px;
}
.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.input-fields{
    width: 150px;
    padding: 10px;
}
.input-fields input{
     width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-form button{
    width: 80px;
    height: 30px;

}
